body {
  background-image: url("../images/NLights.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* header {
  width: auto;
  padding: 10px;
  border: 5px solid gray;
  color: black;
  text-align: justify;
  align-items: center;
  background-image: url("images/Trees.png");
  min-height: 20%;
} */

main {
  padding-left: 5%;
}

#results_list ol div {
  box-sizing: border-box;
  color: white;
  max-width: 300px;
  text-align: left;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 38, 255, 0.363);
  font-size: larger;
}

#results_list ul {
  box-sizing: border-box;
  color: white;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 10px;
  font-size: larger;
  background-color: rgba(0, 38, 255, 0.363);
  max-width: 300px;
}