header {
  width: auto;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  color: black;
  text-align:justify;
  align-items: center;
 background-image: url("images/Trees.webp");
 height: 200px;
}
main {
padding-left: 5%;
}
li {
  color: black;
}